/* Custom CSS */

html,
body {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#services {
  height: 1200px;
}

/* Parallax Test */

.peak img {
    position: absolute;
    width: 110%;
    height: auto;
    left: -5%;
    bottom: -5%;
}

.logo img {
    position: absolute;
    width: 110%;
    height: auto;
    left: -5%;
    bottom: -40%;
}

/* Fog Test */

@keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.fog .fog__layer1,
.fog .fog__layer2 {
    height: 110%;
    position: absolute;
    width: 200%;
    opacity: 0.6;
}

.fog .fog__layer1--img1,
.fog .fog__layer2--img2 {
    float: left;
    height: 110%;
    width: 50%;
    opacity: 1;
}

.fog__layer1 {
    animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 30s linear infinite;
}

.fog__layer1--img1 {
    background: url("/img/header/fog01.png") center center / cover no-repeat transparent;
}

.fog__layer2 {
    animation: foglayer_02_opacity 10s linear infinite, foglayer_moveme 30s linear infinite;
}

.fog__layer2--img2 {
    background: url("/img/header/fog02.png") center center / cover no-repeat transparent;
}

/* Custom Breakpoint CSS */

/* 
##Device = Desktops and anything higher than iPad Pro in landscape
##Screen = 1367px to higher resolution desktops
*/

@media (min-width: 1367px) {

    .parallax-wrap {
        position: relative;
        -webkit-perspective: 1px;
        perspective: 1px;
        -webkit-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        background: linear-gradient(#746cad 0, #89a1ab 30%, #8bb1bf 100%);
    }

    .mountains-wrap {
        position: relative;
        width: 100vw;
        height: 95vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: -1;
    }

    .peak,
    .logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transform-origin: 50% 60%;
        transform-origin: 50% 60%;
    }

    .peak.p1,
    .logo.p1 {
        -webkit-transform: translateZ(-2px) scale(3);
        transform: translateZ(-2px) scale(3);
    }

    .peak.p2,
    .logo.p2 {
        -webkit-transform: translateZ(-1px) scale(2);
        transform: translateZ(-1px) scale(2);
    }

    .peak.p3,
    .logo.p3 {
        -webkit-transform: translateZ(-0.5px) scale(1.5);
        transform: translateZ(-0.5px) scale(1.5);
    }

    .logo {
        -webkit-transform: translateZ(-2px) scale(1.3);
        transform: translateZ(-2px) scale(1.3);
        z-index: 0;
    }
}


/*
##Rest of the Devices fall back to this and remove parallax effect, Base line is iPad Pro
*/

@media (max-width: 1366px) {

    .mountains-wrap {
        position: relative;
        height: 90vh;
    }

    .logo img {
        position: absolute;
        width: 50%;
        height: auto;
        left: 25%;
        bottom: auto;
    }

    .parallax-wrap {
        position: relative;
        -webkit-perspective: 1px;
        perspective: 1px;
        -webkit-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background: linear-gradient(#746cad 0, #89a1ab 30%, #8bb1bf 100%);
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .mountains-wrap {
        height: 58vh;
    }

    .logo img {
        width: 70%;
        left: 15%;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .mountains-wrap {
        height: 80vh;
    }

    .logo img {
        width: 70%;
        left: 15%;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Portrait)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .mountains-wrap {
        height: 58vh;
    }

    .logo img {
        width: 70%;
        left: 15%;
    }
}


/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {

    .mountains-wrap {
        height: 90vh;
    }

    .logo img {
        width: 50%;
        left: 25%;
    }
}


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .mountains-wrap {
        height: 58vh;
    }

    .logo img {
        width: 70%;
        left: 15%;
    }
}