/* Custom CSS */

html,
body {
	position: fixed;
	overflow: hidden;
}

.mtnback {
	bottom: -10%;
}

.smoothscroll {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* Parallax Test */

.parallax-wrap {
	position: relative;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.mountains {
	position: relative;
	width: 100vw;
	height: 95vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: -1;
}

.peak,
.logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform-origin: 50% 60%;
	transform-origin: 50% 60%;
}

.peak.p1,
.logo.p1 {
	-webkit-transform: translateZ(-2px) scale(3);
	transform: translateZ(-2px) scale(3);
}

.peak.p2,
.logo.p2 {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
}

.peak.p3,
.logo.p3 {
	-webkit-transform: translateZ(-0.5px) scale(1.5);
	transform: translateZ(-0.5px) scale(1.5);
}

.peak img {
	position: absolute;
	width: 110%;
	height: auto;
	left: -5%;
	bottom: -5%;
}

.logo img {
	position: absolute;
	width: 110%;
	height: auto;
	left: -5%;
	bottom: -40%;
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: linear-gradient(#7168b5 0%, #418eab 50%, #83b6c9 100%);
	opacity: 0.7;
}

.multiply {
	opacity: 1;
	mix-blend-mode: overlay;
}

.logo {
	-webkit-transform: translateZ(-2px) scale(1.3);
	transform: translateZ(-2px) scale(1.3);
	z-index: 0;
}

.logo {
	font-size: 10rem;
	color: #333;
	position: absolute;
	padding: 0;
	text-shadow: 0 50px 20px rgba(0, 0, 0, 0.3);
}

main {
	position: relative;
	width: 100vw;
	padding: 40px;
	background: #83b6c9;
	z-index: 2;
}


/* Custom Breakpoint CSS */

/* 
	##Device = Desktops
	##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

	.mountains {
		height: 50vh;
	}

	.peak img {
		bottom: 27%;
	}

	.logo img {
		bottom: 50%;
	}

}

/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	.mountains {
		height: 70vh;
	}

	.peak img {
		bottom: 3%;
	}

	.logo img {
		bottom: -10%;
	}

}

/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	.mountains {
		height: 50vh;
	}

	.peak img {
		bottom: 27%;
	}

	.logo img {
		bottom: 50%;
	}

}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	.mountains {
		height: 60vh;
	}

	.peak img {
		width: 180%;
		left: -40%;
		bottom: 10%;
	}

	.peak.p3 img {
		bottom: 7%
	}

	.peak.p2 img {
		left: -20%
	}

	.logo img {
		bottom: 34%;
	}

	.logo {
		transform: translateZ(-2px) scale(2);
	}

}